version: '3.9'

services:
  dev-db:
    image: postgres
    ports:
      - '51213:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    networks:
      - backend

networks:
  backend:
